
/* screen sizes 500px and up */
    body {
        display: flex;
        flex-direction: column;

    }

    html {
        display: flex;
        font-family: sans-serif;

    }

    .alert-info {
        margin: auto 2em;
        flex-direction: column;
        border: 2px solid lightgrey;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgb(215, 254, 254);
    }

    .alert-info>a {
        text-decoration: solid;
        color: black;
    }

    h1 {
        margin: auto;
        flex-direction: column;
        font-size: 3.3em;
        padding: 10px;
    }

    nav a{
        width: 319px;
        text-align: center;
        background-color: lightgrey;
        margin: 10px;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }


    li {
        list-style-type: none;
    }

    ul {
        padding-left: 0;
        list-style-position: inside;
        display: flex;
        flex-direction: column; align-items: center;
    }

    nav {
        text-align: center;
    }

    .header-img {
        display: flex;
    }

    /*img {*/
    /*    width: 339px;*/
    /*    height: 224px;*/
    /*    margin: auto;*/
    /*}*/

    img {
        max-width: 100%;
        height: auto;
        width: auto\9;
        /*margin-top: 2em;*/
        /*margin-right: auto;*/
        /*margin-left: auto;*/
        /*margin-bottom: 2em;*/

        margin-top: auto;
        margin-right: 2em;
        margin-left: auto;
        margin-bottom: auto;
        justify-content: center;
        padding-left: 2em;
        padding-right: 2em;


    }

    section {
        margin: auto;
    }


/*@media screen and (min-width:900px) {*/

/*    div a {*/
/*        display: none;*/
/*    }*/
/*}*/


